altair
annotated-types
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
dnspython
filelock
fsspec
gitdb
GitPython
huggingface-hub
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
narwhals
networkx
numpy
packaging
pandas
pillow
plotly
preshed
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pymongo[srv]
python-dateutil
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
sympy
tenacity
thinc
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
weasel
wrapt